
body {
font-family: sans-serif;
background-color: #f4f4f4;
justify-content: center;

}
form {
background: #fff;
padding: 20px;
width: 300px;
margin: 20px auto;
}
h1 {
text-align: center;
color: #333;
}
label {
    display: block;
}
input, textarea {
width: 100%;
padding: 10px;
}
button {
width: 100%;

background-color: #5cb85c;
color: white;
}
button:hover {
background-color: #4cae4c;
}
#ratingValue {
display: inline-block;
margin-left: 10px;
color: #333;
}